.container{
    width: 40%;
    margin-top: 50px;
    background-color: #012727d7;
    border:none;
    padding: 30px;
    border-radius: 10px;

}
h2{
    text-align: center;
    color: white;
}
.form-group{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
}
button{
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding:10px;
    width: 70px;
    font-weight: bold;
    cursor: pointer;

}
.list{
    margin-top: 30px !important;

}
li{
    margin-bottom: 15px;
    margin-left: -12px;
    border-radius: 5px;
    background-color: black !important;
    height: 30px;
    color: white !important;
    border: none !important;
    list-style-type: none;
    border-radius: 8px;
    padding: 6px;
}
.list-items{
    display: flex;
}
.list-items .list-item-list{
    flex:1;

}
.list-items .list-item-icons{
    padding-left: 5px;
    font-size: 25px;
    cursor: pointer;
}
#complete{
    color: green;
}
#edit{
    color: blue;
}
#delete{
    color: orange;
}
#list-item{
    text-decoration: line-through;
    opacity: 0.3;
}